html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    background-color: blue;
}

h1 {
    text-transform: uppercase;
    padding: 50px;
}

h2 {
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding-bottom: 20px;
}

.wrapper {
    width: 1140px;
    background-color: white;
    display: flex;
    /* flex-direction: row; */
    margin: auto;
}

.left__side {
    width: 45%;
    display: flex;
    flex-direction: column;
    position: relative;
    /* position: absolute; */
    /* background-color: black; */
}

.left__side_bg-photo {
    height: 25vh;
    position: relative;
    order: -2;
    /* background-color: white; */
}

.left__side_photo {
    border: 10px white solid;
    top: calc(25vh - 250px);
    left: 100px;
    order: 2;
    position: absolute;
    width: 260px;
    height: 260px;
}

.left__side_img {
    display: block;
}

.left__side_content {
    padding: 30px;
    background-color: black;
    height: 80vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.left__side-ul {
    list-style: none;
    padding: 30px;
}

.contact__item {
    text-decoration: none;
    margin: 20px 0px;
    padding: 0px;
}

.contact__item>a {
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
}

.contact__item>a:hover {
    color: red;
    text-decoration: none;
}

.right__side {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right__side_header {
    color: white;
    background-color: black;
    height: 25vh;
}

.right__side_student {
    padding: 0px 50px;
}

.right__side_content {
    padding: 30px;
    color: black;
}

.skils_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* .skils_item>progress {} */

.left__side_footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid;
    margin-top: 80px;
}

.footer__img {
    display: inline-block;
}

.footer__link {
    display: inline-block;
}